
@{
    ViewBag.Title = "BusRoute";
    Layout = "~/Views/Shared/ParentLayou.cshtml";
}

<div class="main text-center mt-5">
    <div class="row ">
        <div class="col mt-1 ">
            <span class="badge badge-primary mb-0">Ahmed</span>
            <iframe src="https://www.google.com/maps/d/embed?mid=12kyWc5H4q-qaLOAHI8HtOnzXT5f3k7qh" width="300" height="450" frameborder="0" style="border:5px;" allowfullscreen=""></iframe>
        </div>

        <div class="col mt-1" style="margin-left:-23px">
            <span class="badge badge-primary mb-0">Sara</span>

            <iframe src="https://www.google.com/maps/d/embed?mid=12kyWc5H4q-qaLOAHI8HtOnzXT5f3k7qh" width="300" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>

        <div class="col mt-1" style="margin-left:-25px">
            <span class="badge badge-primary mb-0">Abdallah</span>
            <iframe src="https://www.google.com/maps/d/embed?mid=12kyWc5H4q-qaLOAHI8HtOnzXT5f3k7qh" width="300" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>

    </div>

</div>

