
@{
    ViewBag.Title = "Features";
    Layout = "~/Views/Shared/HomePage.cshtml";
}
<div class="section-1">
    <div class="container text-center">
        <h1 class="heading-1"> Fantastic Features</h1>
        <h1 class="heading-2"> & User Friendly Web Application </h1>
        <p class="para-1">
        </p>
        <div class="row justify-content-center text-center">
            <div class="col-md-4">
                <div class="card">
                    <img src="~/Image/Himage/Realtimetrack.png" alt="Image1" class="card-img-top"  />
                    <div class="card-body">
                        <h4 class="card-title"> Real Time Tracking</h4>
                        <p class="card-text">
                            	Parents can track their children online from any place in the world
                            	The website provides real-time tracking, so parents can see their children’s movements second by second
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/Image/Himage/Nowait.jpg" alt="Image1" class="card-img-top" />
                    <div class="card-body">
                        <h4 class="card-title"> Now Wait</h4>
                        <p class="card-text">
                            There is no wait for parent or childern because they already Know
                            where is the bus.   
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/Image/Himage/reachsafe.jpg" alt="Image1" class="card-img-top" />
                    <div class="card-body">
                        <h4 class="card-title"> Safe Reach</h4>
                        <p class="card-text">
                            The childern will be safe from the moment he left the until the
                            moment he will arrive yhe school because the parent will see the location
                            of the bus all the time and if any thing happend he can contact the driver.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

