
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/HomePage.cshtml";
}

<body>

    <main>
        <div class="container-fluid p-0">
            <div class="site-content">
                <div class="d-flex justify-content-center">
                    <div class="d-flex flex-column">
                        <h1 class="site-title">Easy Track</h1>
                        <p class="site-desc">Your CHILD is always on your visbility</p>
                        <div class="d-flex flex-row">
                            <input type="button" value="Know More" class="btn site-btn1 px-4 py-3 mr-4 btn-dark" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-1">
            <div class="container text-center">
                <h1 class="heading-1"> Fantastic Features</h1>
                <h1 class="heading-2"> & User Friendly Web Application </h1>
                <p class="para-1">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <div class="row justify-content-center text-center">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="~/Image/Himage/School.jpg" alt="Image1" class="card-img-top" />
                            <div class="card-body">
                                <h4 class="card-title"> School</h4>
                                <p class="card-text">
                                    Keep yourselves informed in details about your child’s safety with M3aak just at your fingertips from your internet connected mobile.
                                    M3aak helps you to manage your time by tracking the exact location of the bus.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="~/Image/Himage/parent.jpg" alt="Image1" class="card-img-top" />
                            <div class="card-body">
                                <h4 class="card-title"> Parent</h4>
                                <p class="card-text">
                                    Keep yourselves informed in details about your child’s safety with M3aak just at your fingertips from your internet connected mobile.
                                    M3aak helps you to manage your time by tracking the exact location of the bus.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="~/Image/Himage/Student.jpg" alt="Image1" class="card-img-top" />
                            <div class="card-body">
                                <h4 class="card-title"> Student</h4>
                                <p class="card-text">
                                    Keep yourselves informed in details about your child’s safety with M3aak just at your fingertips from your internet connected mobile.
                                    M3aak helps you to manage your time by tracking the exact location of the bus.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <h1 style="color:#dc3545;margin-top:1%;margin-bottom:3%;font-family:sans-serif">
                Easy Track <span style="color:black">......</span>Get Relaxed
            </h1>
        </div>
        <div class="section-6 bg-white ">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-9 bg-dark d-flex justify-content-center">
                        <div id="demo" class="carousel slide d-flex justify-content-center" data-ride="carousel">
                            <ul class="carousel-indicators">
                                <li data-target="#demo" data-slide-to="0" class="active"></li>
                                <li data-target="#demo" data-slide-to="1"></li>
                                <li data-target="#demo" data-slide-to="2"></li>
                            </ul>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/Image/Himage/Nowait.jpg"  alt="Los Angeles" width="790" height="400"/>
                                    <div class="carousel-caption">
                                        <h1 style="color:white">No Wait</h1>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Image/Himage/reachsafe.jpg" alt="Chicago" width="790" height="400">
                                    <div class="carousel-caption">
                                        <h1 style="color:white">Safe Reache</h1>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Image/Himage/Realtimetrack.png" alt="New York" width="790" height="400">
                                    <div class="carousel-caption">
                                        <h1 style="color:black">Real Time Tracking</h1>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div style="margin-bottom:9%">

        </div>

        <div class="section-3">
            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <div class="d-flex flex-row">
                            <i class="fas fa-file-alt fa-3x m-2"></i>
                            <div class="d-flex flex-column">
                                <h3 class="m-2">Register</h3>
                                <p class="m-2">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex flex-row">
                            <i class="fas fa-map-marker-alt fa-3x m-2"></i>
                            <div class="d-flex flex-column">
                                <h3 class="m-2">Track</h3>
                                <p class="m-2">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex flex-row">
                            <i class="far fa-smile fa-3x m-2"></i>
                            <div class="d-flex flex-column">
                                <h3 class="m-2">Relax</h3>
                                <p class="m-2">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-4 bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <img src="~/Image/Himage/who.png" alt="Image-7" width="590" />
                    </div>
                    <div class="col-md-5">
                        <h1 class="text-white" style="margin-top:10% ;font-size:50px">Who We Are</h1>
                        <p>Know Us:</p>
                        <p class="para-1">
                            This modern solution would enhance the school transport system to the next level that could hand over flawless real-time data of school
                            buses and students using professional enterprise Google API. It thus provides the precise location of each bus with accurate time.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
