@model Easy_Track_MVC.Models.Location

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/ParentLayou.cshtml";
}

<div class="main text-center ">
    <div class="row mt-5 d-flex justify-content-center ">

        <div class="col-md-8 mt-3 ">

            <div class="input-group">
                <select class="custom-select" id="inputGroupSelect04">
                    <option selected">Choose Son...</option>
                    <option value="1">Ahmed</option>
                    <option value="2">Sara</option>
                    <option value="3">Abdallah</option>
                </select>

                <div class="input-group-append">
                    <button id="" class="btn btn-outline-success" type="button" onclick="showPosition();">Track Son Bus</button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3 ml-1">
        <div id="embedMap" style="width: 910px; height: 420px;">
            <!--Google map will be embedded here-->
        </div>

    </div>

</div>
